{{ define "main" }}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Name }} — Pad</title>
    <link href="/static/favicon.ico" rel="shortcut icon" type="image/ico" />
    <link href="/static/css/normalize.css" rel="stylesheet" media="screen" />
    <link href="/static/css/application.css" rel="stylesheet" media="screen" />
    <link href="/static/css/print.css" rel="stylesheet" media="print" />
</head>

<body>
    <div class="stack">
        <div class="layer_1">
            <div class="layer_2">
                <div class="layer_3">
                    <textarea name="contents" id="contents" class="contents" spellcheck="true">{{ .Content }}</textarea>
                </div>
            </div>
        </div>
    </div>
    <div id="printable_contents" class="contents"></div>
    <div id="loading"></div>

    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="/static/js/jquery.textarea.js"></script>
    <script src="/static/js/application.js"></script>
</body>

</html>
{{ end }}
